<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STARFIT Автоподбор</title>
  <link rel="preload" href="fonts/futurademic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/futurabookc.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/futuralightc.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="icon" href="images/icon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="images/icon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/libs.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <script> </script>
</head>