@import "fonts";
@import "vars";
@import "global";
@import "fancybox";
@import "keyframes";

//start header======================================================================================
.header {
    min-height: 100vh;
    padding-bottom: 130px;
    color: #fff;
    @include img;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 35px 60px 0;
        margin-bottom: 175px;
    }

    &__info {
        margin: 0 30px;
        color: #ccc;
        text-align: center;
    }

    &__worktime {
        margin-bottom: 5px;
    }

    &__time {
        color: #fff;
    }

    &__email-link {
        position: relative;
        color: #fff;
        border-bottom: 1px solid #fff;
        border-radius: 3px 3px 0 0;
        transition: 0.3s;

        &::after {
            @include click-area;
        }

        &:hover,
        &:focus {
            background-color: $gray;
        }
    }

    &__phone {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 70px;

        &::before {
            position: absolute;
            top: 3px;
            left: -70px;
            width: 44px;
            height: 44px;
            content: "";
            background-image: url(../images/icons/smartphone.png);
        }
    }

    &__button {
        position: relative;
        display: inline-block;
        max-width: 125px;
        padding: 10px;
        margin-top: 10px;
        font-size: 12px;
        text-align: start;
        text-transform: uppercase;
        border-radius: 5px;

        &::before {
            position: absolute;
            top: 0;
            left: -60px;
            width: 32px;
            height: 32px;
            content: "";
            background-image: url(../images/icons/right-arrow.png);
            @include img;
            transition: 0.5s;
        }

        &::after {
            width: 100%;
            @include click-area;
            border-radius: 5px;
            transition: 0.3s;
        }

        &:hover,
        &:focus {
            &::before {
                left: -40px;
            }
        }

        &:focus {
            background-color: $gray;
        }
    }

    &__title {
        max-width: 945px;
        margin-bottom: 20px;
        font-size: 44px;
        line-height: 53px;
        @include f700;
        text-transform: uppercase;
    }

    &__text {
        max-width: 945px;
        margin-bottom: 80px;
        font-size: 25px;
    }

    &__btn-wrapper {
        display: flex;
        margin-bottom: 100px;
    }

    &__link {
        display: flex;
        align-items: center;
        margin-left: 40px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__list-item {
        position: relative;
        padding-left: 45px;
        margin: 0 15px;
        font-size: 19px;

        &::before {
            position: absolute;
            top: -3px;
            left: 0;
            width: 30px;
            height: 28px;
            content: "";
            background-image: url(../images/icons/check.png);
        }
    }
}

//end header========================================================================================
//start section services============================================================================
.services {
    padding-top: 105px;
    padding-bottom: 75px;
    background-color: #fafafa;

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        color: #fff;
    }
}

//end section services==============================================================================
//start block product===============================================================================
.product {
    display: flex;
    flex-basis: calc(33.3333% - 30px);
    flex-direction: column;
    justify-content: space-between;
    min-height: 680px;
    margin-bottom: 40px;
    margin-left: 30px;
    background-color: #333;

    &__img {
        width: 100%;
        height: 306px;
        object-fit: cover;
    }

    &__content {
        padding: 12px 33px 29px;
        margin-bottom: auto;
    }

    &__title,
    &__price {
        margin-bottom: 8px;
        font-size: 26px;
        @include f500;
    }

    &__price {
        padding: 0 33px 20px;
    }

    &__list {
        margin-bottom: 24px;
    }

    &__list-item {
        font-size: 18px;
        line-height: 24px;
    }
}

//end block product=================================================================================
//start section benefit==========================================================================
.benefit {
    padding-bottom: 90px;
    background-color: #fafafa;

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 330px;
        margin: 0 15px;
        text-align: center;
    }

    &__img {
        display: block;
        height: 66px;
        margin: 0 auto 26px;
    }

    &__subtitle {
        position: relative;
        padding: 0 75px 30px;
        margin-bottom: 10px;
        font-size: 22px;
        @include f500;

        &::before {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 2px;
            height: 20px;
            content: "";
            background-color: #000;
            transform: translateX(-50%);
        }
    }

    &__text {
        padding: 0 3px;
    }
}

//end section benefit============================================================================
//start section check===============================================================================
.check {
    padding-top: 115px;
    padding-bottom: 100px;

    &__text {
        max-width: 640px;
        margin: 0 auto 90px;
        font-size: 23px;
        text-align: center;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__items {
        max-width: 370px;
    }

    &__img {
        max-width: 370px;
        object-fit: cover;
    }
}

//end section check=================================================================================
//start block desc==================================================================================
.desc {
    display: flex;
    margin-bottom: 30px;

    &__img {
        width: 75px;
        height: 75px;
        padding: 16px;
        border-radius: 6px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    }

    &__content {
        margin-left: 15px;
    }

    &__title {
        font-size: 22px;
        @include f500;
    }

    &__text {
        font-size: 17px;
        line-height: 24px;
        @include f400;
    }
}

//end block desc====================================================================================
//start section step================================================================================
.step {
    padding-top: 115px;
    padding-bottom: 100px;
    background-color: #fafafa;

    &__items {
        display: flex;
        min-height: 310px;
    }

    &__item {
        position: relative;
        text-align: center;

        &::before {
            opacity: 0.2;
        }

        &--down {
            align-self: flex-end;
            text-align: center;
        }

        &--two::before,
        &--five::before {
            position: absolute;
            width: 82px;
            height: 120px;
            content: '';
            border-bottom: 4px dashed $gray;
        }

        &--three::before,
        &--four::before {
            position: absolute;
            height: 110px;
            content: '';
            border-top: 4px dashed $gray;
        }

        &--two::before {
            left: -130px;
            border-left: 4px dashed $gray;
        }

        &--three::before {
            top: 40px;
            left: -95px;
            width: 160px;
            border-left: 4px dashed $gray;
        }

        &--four::before {
            top: -130px;
            left: -57px;
            width: 200px;
            border-right: 4px dashed $gray;
        }

        &--five::before {
            right: 130px;
            bottom: 21px;
            border-right: 4px dashed $gray;
        }
    }

    &__popup {
        display: inline-block;
        @include f400;
        color: #000;
        border-bottom: 1px solid #000;
        transition: 0.3s;

        &:hover,
        &:focus {
            text-shadow: 0 0 10px #000;
        }
    }

    &__img {
        display: block;
        margin: 0 auto 15px;
    }

    &__subtitle {
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
        font-size: 22px;
        @include f500;

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            width: 6px;
            height: 2px;
            content: '';
            background-color: #000;
            transform: translateY(-50%);
        }

        &::before {
            left: -15px;
        }

        &::after {
            right: -15px;
        }
    }
}

//end section step==================================================================================
//start section contact=============================================================================
.contact {
    padding: 105px 0 80px;

    &__inner {
        display: flex;
        font-size: 21px;
    }

    &__info {
        width: 100%;
        max-width: 400px;
        padding-right: 70px;
        padding-left: 30px;
    }

    &__adress {
        position: relative;
        display: block;
        margin-bottom: 30px;

        &::before {
            position: absolute;
            top: 7px;
            left: -30px;
            width: 11px;
            height: 14px;
            content: '';
            background-image: url(../images/icons/address-icon.png);
            @include img;
        }
    }

    &__phone {
        margin-bottom: 10px;
    }

    &__phone-link {
        color: #000;
    }

    &__email-link {
        position: relative;
        display: inline-block;
        margin: 30px 0;
        color: #000;
        border-radius: 5px;
        transition: 0.3s;

        &::before {
            position: absolute;
            top: 11px;
            left: -30px;
            width: 13px;
            height: 11px;
            content: '';
            background-image: url(../images/icons/email-icon.png);
            @include img;
        }

        &::after {
            @include click-area;
        }

        &:hover,
        &:focus {
            background-color: $gray;
        }
    }

    &__worktime {
        position: relative;
        margin-bottom: 30px;

        &::before {
            position: absolute;
            top: 7px;
            left: -30px;
            width: 14px;
            height: 14px;
            content: '';
            background-image: url(../images/icons/calendar-icon.png);
            @include img;
        }
    }

    &__time {
        display: block;
    }

    &__social-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__social {
        position: relative;
        display: inline-block;
        color: #000;
        border-radius: 5px;
        transition: 0.3s;

        &--icon::before {
            position: absolute;
            top: 7px;
            left: -30px;
            width: 15px;
            height: 15px;
            content: '';
            background-image: url(../images/icons/link-icon.png);
            @include img;
        }

        &::after {
            @include click-area;
        }

        &:hover,
        &:focus {
            background-color: $gray;
        }
    }

    &__location {
        align-self: flex-end;
        margin-top: -70px;
        background-color: transparent;
        border: 2px solid $gray;
        box-shadow: 25px -25px 0 -2px #fff, 25px -25px 0 0 #000;
    }

    &__map {
        display: block;
    }
}
//end section contact===============================================================================
// ========================================= fixed button phone=====================================
.phone {
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
    width: 72px;
    height: 72px;
    background-color: #d61515;
    border-radius: 50%;
    transition: all 5s;
    animation: rotate 3s infinite;

    &--offset {
        right: -1000px;
        opacity: 0;
    }

    &--off {
        width: 0;
        height: 0;
        animation: none;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-top: 3px;
        fill: #fff;

        &--off {
            width: 0;
            height: 0;
        }
    }
}

// ======================================= end fixed button phone===================================
// ======================================= start footer=============================================
.footer {
    background-color: #000;

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__arrow {
        position: absolute;
        top: -25px;
        left: 50%;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px 0 #000;
        transition: 0.3s;
        transform: translateX(-50%);

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 32px;
            height: 32px;
            content: '';
            background-image: url(../images/icons/arrow-up.svg);
            @include img;
            transform: translate(-50%, -50%);
            animation: arrowUp 2s infinite;
        }

        &:hover,
        &:focus {
            background-color: $gray;
        }
    }

    &__btn {
        &:hover,
        &:focus {
            background-color: $gray;
        }
    }
}
// ======================================= end footer===============================================
@import "media";